.Card 
{
 height: 25vh;
 width: 50vh;
 border: 2px solid rgba(128, 128, 128, 0.429);
 border-radius: 20px;
  cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10vh;
}
.title
{
   
  font-size: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content
{
  
  font-size: 3vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Card-text
{
margin-left: 5px;
}
.Card-image
{
 height: 13vh;
 transition: transform 0.3s , filter 0.3s;
}
.Card:hover .Card-image
{
   transform: scale(1.5);
}
.Card:hover  
{
   background-color: rgba(250, 235, 215, 0.834);
}

@media (max-width: 767px)
{
     .Card
     {
      width: 97%;
     }

     
}